* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* COLOCAR LOS INCLUDE Y EXTENDS EN LOS DIVS */
/* VALOR DE UNIDAD PX A REM, 16 */
/* TIPOGRAFIA */
@font-face {
  font-family: "bold1";
  src: url("../FONTS/BF_Modernista-Bold.ttf");
}
@font-face {
  font-family: "regular1";
  src: url("../FONTS/BF_Modernista-Regular.ttf");
}
@font-face {
  font-family: "light1";
  src: url("../FONTS/BF_Modernista-Light.ttf");
}
@font-face {
  font-family: "purista";
  src: url("../FONTS/Purista Bold.otf");
}
/* TIPOGRAFIA */
.header {
  position: fixed !important;
  width: 100%;
  z-index: 3;
}

.navbar {
  background-color: black !important;
}

.navbar-nav {
  padding-left: 40px;
}

nav a {
  display: flex;
  justify-content: start;
  font-size: 18px;
  text-align: start;
  line-height: 27px;
  letter-spacing: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: white !important;
  width: max-content;
  font-family: "purista";
  padding-left: 35px;
}
nav a:hover {
  background-color: black !important;
  color: #26ffdf !important;
  transition: 0.5s;
}

.dropdown-menu {
  background-color: black;
}
.dropdown-menu a {
  font-family: "regular1";
  font-size: 16px;
}

.slider__imagenes {
  width: 100%;
  height: 100vh;
}

.textoIntro {
  margin-bottom: 5rem;
  z-index: 2;
}

.textoIntro__titulo {
  font-family: "bold1";
  color: #26ffdf;
  text-align: center;
  font-size: 115px;
  margin-bottom: 5rem;
  justify-items: center;
  text-transform: uppercase;
  text-shadow: 5px 5px 2px #093b34;
}

.textoIntro__imagen {
  max-width: 100%;
}

.textoIntro__parrafo {
  display: block;
  margin-block-start: 38px;
  margin-block-end: 38px;
  font-size: 30px;
  justify-content: center;
  line-height: 2rem;
  letter-spacing: normal;
  font-family: "light1";
  text-align: center;
}

.botonB {
  width: 160px;
  height: 55px;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: normal;
  background-color: #26ffdf;
  text-decoration: none;
}

.botonT {
  width: 205px;
  height: 55px;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: normal;
  text-decoration: none;
}

.modos__titulo {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 3.75rem;
  font-family: "purista";
  line-height: 1.7rem;
  padding-bottom: 5rem;
}

.modos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-evenly;
  height: 115vh;
  width: 100%;
  background-image: url(../IMG/fondomodos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

.modos__modosDeJuego {
  width: 100%, auto;
  display: flex;
  margin-right: 53px;
  justify-content: space-around;
  color: white;
}

.modos__modalidades {
  width: 25rem;
  height: 31.25rem;
}
.modos__modalidades img {
  height: 16rem;
  width: 28rem;
}

/* .ModoDerecha{
    width: 25rem;
    height: 31.25rem;

    img {
    height: 16rem;
    width: 28rem;
    }
} */
.modos__subtitulos {
  color: white;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: "purista";
  padding-left: 3.75rem;
}

.modos__parrafo {
  color: white;
  display: block;
  padding-top: 0.9rem;
  padding-left: 3.4rem;
  text-align: center;
  font-size: 1.25rem;
  font-family: "light1";
}

.hazard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 270vh;
  max-height: 100%;
  width: 100%;
  background-image: url(../IMG/fondohazard1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

.hazard__logo {
  width: 100%;
  height: 300px;
  margin-top: 500px;
}

.hazard__parrafo {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: normal;
  font-family: "light1";
  padding-top: 4.5rem;
  padding-left: 16rem;
  padding-right: 16rem;
}

.hazard__video {
  width: 100%;
  height: 100vh;
  padding-top: 4.7rem;
  padding-left: 13rem;
  padding-right: 13rem;
  padding-bottom: 6rem;
}

.hazard__subtitulo {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 3.75rem;
  font-family: "purista";
  line-height: 1.7rem;
}

.w2042 {
  width: 100%;
  height: 28rem;
  background-image: url(../IMG/w2042\ fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.world2042 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  color: white;
}
.world2042 h2 {
  font-family: "purista";
  font-size: 55px;
}
.world2042 p {
  font-family: "light1";
  font-size: 25px;
}

.botonW {
  width: 175px;
  height: 55px;
  font-size: 18px;
}

.faq {
  width: 100%;
  height: 26rem;
  background-image: url(../IMG/faq\ fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.faq2042 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  color: white;
}
.faq2042 h2 {
  font-family: "purista";
  font-size: 55px;
}
.faq2042 p {
  font-family: "light1";
  font-size: 25px;
}

.botonF {
  width: 150px;
  height: 55px;
  font-size: 18px;
}

.boton1 {
  width: 175px;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
  letter-spacing: normal;
  background-color: #26ffdf;
  text-decoration: none;
}

.boton2 {
  width: 175px;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
  letter-spacing: normal;
  background-color: #26ffdf;
  text-decoration: none;
}

.footer {
  width: 100%;
  height: 70vh;
  background-image: url(../IMG/fondo\ footer.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.divFooter1 {
  margin: 5rem 8rem;
}
.divFooter1 h2 {
  font-family: "purista";
  font-size: 50px;
  text-align: left;
}
.divFooter1 p {
  font-family: "light1";
  font-size: 15px;
  text-align: left;
}

.divFooter2 {
  margin: 5rem 6rem;
  text-align: left;
}

.links {
  text-decoration: none !important;
  color: #26ffdf;
}
.links:hover {
  color: #26ffdf;
}

/* INICIO SECCION CLASES / SPECIALIST */
.introClass {
  background-image: url(../IMG/fondoclases.jpg);
  height: 155vh;
  max-height: 100rem;
  max-width: 188rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.introClass h1 {
  font-family: "bold1";
  color: #fff;
  text-align: center;
  font-size: 4.5rem;
  line-height: 4.8rem;
  letter-spacing: normal;
  padding-top: 4.7rem;
  padding-bottom: 2.5rem;
  text-transform: uppercase;
}
.introClass p {
  font-size: 1.5rem;
  padding-left: 19rem;
  padding-right: 19rem;
  line-height: 2rem;
  letter-spacing: normal;
  font-family: "light1";
  text-align: center;
  color: white;
}

.linea {
  border-top: 1px solid white;
  height: 2px;
  max-width: 13rem;
  margin: 3.1rem auto;
}

.tiposDeClase {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 3.8rem;
  font-family: "purista";
  line-height: 1.7rem;
  letter-spacing: 0px;
}

.galeria {
  display: grid;
  height: auto;
  width: 100%;
  padding-top: 6rem;
  grid-template-columns: 20rem 20rem 20rem 20rem;
  grid-template-rows: 25rem;
  justify-content: space-around;
  grid-template-areas: "assault heavy medic sniper";
}

.clases {
  color: #161616;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: "purista";
  line-height: 1.7rem;
  padding-top: 23rem;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#assault {
  grid-area: "assault";
  background-image: url(../IMG/asalto.png);
  background-size: cover;
  height: 70vh;
  max-height: 53rem;
  max-width: 32rem;
}

#assault:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

#heavy {
  grid-area: "heavy";
  background-image: url(../IMG/heavy.PNG);
  background-size: cover;
  height: 70vh;
  max-height: 53rem;
  max-width: 32rem;
}

#heavy:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

#medic {
  grid-area: "medic";
  background-image: url(../IMG/medic.png);
  background-size: cover;
  height: 70vh;
  max-height: 52rem;
  max-width: 32rem;
}

#medic:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

#sniper {
  grid-area: "sniper";
  background-image: url(../IMG/sniper.png);
  background-size: cover;
  height: 70vh;
  max-height: 52rem;
  max-width: 32rem;
}

#sniper:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* INICIO SECCION ASALTO */
.claseAsalto {
  background-image: url(/IMG/fondo\ asalto.jpg);
  height: 140vh;
  max-height: 100rem;
  max-width: 188rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.specsTitulo {
  padding-top: 50px;
  padding-left: 90px;
}

.specsTitulo h2 {
  font-family: "regular1";
  font-size: 95px;
  line-height: 84px;
  text-align: start;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #26ffdf;
}

.specsVideo {
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 95px;
}

.specsHabilidades {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: repeat(3, 75px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div1 {
  grid-area: 1/1/2/2;
  display: grid;
  justify-content: center;
}

.div2 {
  grid-area: 1/2/2/3;
  display: grid;
  justify-content: center;
}

.div3 {
  grid-area: 2/1/3/2;
  display: grid;
  color: white;
  justify-content: center;
  letter-spacing: -1px;
}

.div4 {
  grid-area: 2/2/3/3;
  display: grid;
  color: white;
  justify-content: center;
  letter-spacing: -1px;
}

.div5 {
  display: grid;
  color: white;
  justify-content: center;
  padding-left: 75px;
  font-size: 20px;
  line-height: normal;
  text-align: start;
  letter-spacing: normal;
  font-family: "light1";
}

.div6 {
  display: grid;
  color: white;
  justify-content: center;
  padding-left: 100px;
  font-size: 20px;
  line-height: normal;
  text-align: start;
  letter-spacing: normal;
  font-family: "light1";
}

/* INICIO SECCION SOPORTE */
.claseSoporte {
  background-image: url(/IMG/fondo\ soporte.jpg);
  height: 140vh;
  max-height: 100rem;
  max-width: 188rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* INICIO CLASE MEDICO */
.claseMedico {
  background-image: url(/IMG/fondo\ medico.jpg);
  height: 140vh;
  max-height: 100rem;
  max-width: 188rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* INICIO CLASE FRANCOTIRADOR */
.claseFrancotirador {
  background-image: url(/IMG/fondo\ sniper.jpg);
  height: 140vh;
  max-height: 100rem;
  max-width: 188rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* INICIO SESION WORLD 2042 */

/*# sourceMappingURL=estilobattle.css.map */
